/*styling #hex*/

/*custom font - Lato*/
/*@import url("http://fonts.googleapis.com/css?family=Lato:100");
/*basic reset*/
//* {margin: 0; padding: 0;}
/*make the body occupy full height*/

body {  
   margin-top: 175px;     
}

#hex {
  //width: 100%;
  background-color: black;
  color: white; font: 64px/64px Lato; height: 64px;
  margin: auto;
  background-size: 400px;
  height: 250px;
  width: 400px;
  border-radius: 35px;
  margin: auto;
  border: 8px solid red;
  text-align: center;  
  line-height: 250px;
  vertical-align: middle;
}


