/*styling #hex*/

/*custom font - Lato*/
/*@import url("http://fonts.googleapis.com/css?family=Lato:100");
/*basic reset*/
//* {margin: 0; padding: 0;}
/*make the body occupy full height*/

body {
  padding-top: 130px;
  margin: 0;
  text-align: center;  
}
 
 .container {
   width: 400px;
   height: 225px;
   border: 8px solid black;
   border-radius: 35px;
   margin: auto;
   padding-top: 155px;

}

#hex {
  
  color: white; font: 64px/64px Lato; height: 64px;
  margin: 0;
  padding: 0;

}


